
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.todo-list li .icon-edit:after {
    content: '✎';
}

.todo-list li .icon-destroy:after {
    content: '×';
}

.todo-list li.editing {
    border-bottom: none;
    padding: 0;
}